
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- COLUMN 1 -->
                <h3 class="sr-only">ABOUT US</h3>
                @*<img src="/Content/img/logo/repute-logo-light.png" class="logo" alt="Repute">*@
                <p>Proactively making connections and channels to rapidly synergize skilled developers with recruiters and businesses to empower professionals in the Tech Industry.</p>
                <br>
                <address class="margin-bottom-30px">
                    <ul class="list-unstyled">
                        <li>400 Corportate Pointe North<br /> Culver City, CA 90025</li>
                        <li>Email: sabio@recruit.us</li>
                    </ul>
                </address>
                <!-- END COLUMN 1 -->
            </div>
            <div class="col-md-4">
                <!-- COLUMN 2 -->
                <h3 class="footer-heading">USEFUL LINKS</h3>
                <div class="row margin-bottom-30px">
                    <div class="col-xs-6">
                        @*<ul class="list-unstyled footer-nav">
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">News</a>
                            </li>
                            <li>
                                <a href="#">Community</a>
                            </li>
                            <li>
                                <a href="#">Career</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                        </ul>*@
                    </div>
                    <div class="col-xs-6">
                        @*<ul class="list-unstyled footer-nav">
                            <li>
                                <a href="#">Press Kit</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>ContactUs
                                <a href="/C">Contact Us</a>
                            </li>
                        </ul>*@
                    </div>
                </div>
                <!-- END COLUMN 2 -->
            </div>
            <div class="col-md-4">
                <!-- COLUMN 3 -->
                <div class="newsletter">
                    <h3 class="footer-heading">NEWSLETTER</h3>
                    <p>Get the latest update from us by subscribing to our newsletter (coming soon!).</p>
                    <form class="newsletter-form" method="POST">
                        <div class="input-group input-group-lg">
                            <input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE!</span></button>
                            </span>
                        </div>
                        <div class="alert"></div>
                    </form>
                </div>
                <div class="social-connect">
                    <h3 class="footer-heading">GET CONNECTED</h3>
                    @*<ul class="list-inline social-icons">
                        <li>
                            <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="rss-bg"><i class="fa fa-rss"></i></a>
                        </li>
                    </ul>*@
                </div>
                <!-- END COLUMN 3 -->
            </div>
        </div>
    </div>
    <!-- COPYRIGHT -->
    <div class="text-center copyright">
        &copy;2015 Sabio Developers - C06 & C07
    </div>
    <!-- END COPYRIGHT -->
</footer>