@model Sabio.Web.Models.ViewModels.ItemViewModel<Guid?>
@{
    Layout = "~/Views/Shared/_LayoutLobster.cshtml";
}

<!-- END TOPBAR -->
<input type="hidden" value="@Model.Item" name="uid" id="uid" />
<input type="hidden" value="" name="empUid" id="empUid" />
<!-- MAIN NAVIGATION -->
<!-- END MAIN NAVIGATION -->
<!-- END NAVBAR -->
<!-- BREADCRUMBS -->
<div class="page-header">
    <div class="container">
        <h1 class="page-title pull-left">Job Profile</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/jobs/index">Jobs Listings</a>
            </li>
            <li class="active">Job Details</li>
        </ol>
    </div>
</div>
<!-- END BREADCRUMBS -->
<!-- PAGE CONTENT -->
<div class="page-content" data-ng-controller="jobDetailController as jobDetail" id="jobDetailControllerContainer>
    <div class="container">
        <!-- PORTFOLIO ITEM -->
        <div class="portfolio-media media-carousel">
            <div><img height="150" width="240" src="~/Content/img/sliders/slider1-h500.png" class="img" alt="City Img"></div>
        </div>
        <div class="row job-template">
            <div class="col-md-8">
                <section>
                    <h1 class="heading-center" id="job-title">{{jobDetail.item.title}}</h1>
                    @*         <p class="lead" id="job-tagline">Sr. IOS Developer For Widely Popular E-Commerce Company!</p>*@
                    <h4 class="sub-category-list">Job Description</h4>
                    <p id="job-description">{{jobDetail.item.description}}</p>
                    <h4 class="sub-category-list">Job Qualifications</h4>
                    <p id="job-qualifications"> {{jobDetail.item.qualifications}}</p>
                </section>
            </div>
            <div class="col-md-4">
                <section>
                    <h2 class="section-heading">Job Details</h2>
                    <ul class="list-unstyled project-detail-list">
                        <li><strong>Employer:</strong><span id="job-company-name">{{jobDetail.item.company}}</span></li>
                        <li>
                            <strong>Recruiter:</strong><span id="job-contacts">{{jobDetail.item.contact}}</span>
                            @*<a class="btn btn-info btn-sm"><span id="job-email" href="mailto:marysmith@company.com"></span>Email Now</a>*@
                        </li>
                        <li id="industry"><strong>Industry:</strong>{{jobDetail.item.industry}}</li>
                        <li id="skills"><strong>Skills:</strong>{{jobDetail.item.skills}}</li> <!--C#, MVC, Javascript, HTML/CSS-->
                        <li>
                            <strong>Categories:</strong>
                            <a href="https://www.google.com/#q=development">{{jobDetail.item.category1}}</a>,
                            <a href="https://www.google.com/#q=cutting+edge">{{jobDetail.item.category2}}</a><!--Cutting Edge-->
                        </li>
                        <li><strong>Location:</strong></li>
                        <li id="address">{{jobDetail.item.address}}</li>
                        <li id="geoLat" class="hidden">{{jobDetail.item.latitude}}</li>
                        <li id="geoLng" class="hidden">{{jobDetail.item.longitude}}</li>
                    </ul>
                    <div id="map-canvas"></div>
                </section>
                <section>
                    <div class="top30">
                        <a href="/jobs/manage/{{jobDetail.item.uid}}" id=" edit-job" class="btn btn-warning"><i class="fa fa-external-link"></i>Edit Job</a>
                        <a href="http://www.google.com/careers" id="delete-job" class="btn btn-danger"><i class="fa fa-external-link"></i>Delete Job</a>
                    </div>
                </section>
            </div>
        </div>
    <!-- END JOB ITEM -->
    <!-- END RELATED PORTFOLIO -->
    </div>
<!-- END PAGE CONTENT -->

<!-- Scripts Start-->
<style type="text/css">
    #map-canvas {
        width: 350px;
        height: 250px;
        background-color: #CCC;
    }
</style>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/Services/services.jobs.js"></script>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD-7HL0_pepuPOc4nUVX1vF10DWphG-UF8"></script>
    @*<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/geocode/json?address=400+Corporate+Pointe,+Culver+City,+CA&key=AIzaSyD-7HL0_pepuPOc4nUVX1vF10DWphG-UF8"></script>*@
    <script type="text/javascript">
        sabio.page.jobDetailController = null;
        sabio.page.jobUid = null;

        sabio.page.startUp = function () {
            sabio.page.jobDetailController = sabio.ng.getControllerInstance($("#jobDetailControllerContainer"));//this is to get an instance of ng controller that is created for the div
            sabio.page.jobUid = $("#uid").val();

            console.log("profile uid is " + sabio.page.jobUid);

            // clickevent handlers kept here
            //                sabio.services.jobs.getByJobId($("#uid").val(), sabio.page.handlers.fillJobData, sabio.page.handlers.onPopulateFailure);
            //                //sabio.services.employer.getEmployerId($())
            ////                sabio.page.handlers.geocodeAddress(address);
            //                sabio.page.handlers.displayGoogleMap($("#map-canvas"));
        };
        sabio.services.jobs.factory = function ($baseService) {
            var aSabioServiceObject = sabio.services.jobs;

            var newService = $.extend(true, {}, aSabioServiceObject, $baseService);

            return newService;
        }

        sabio.page.jobDetailControllerFactory = function ($scope, $baseController, $jobService) {
            var vm = this;
            vm.item = null;
            //vm.selectedEmployee = null;
            vm.$jobService = $jobService;
            vm.receiveItems = _receiveItems;
            vm.onProfileError = _onProfileError;

            //-- this line to simulate inheritance
            $.extend(vm, $baseController);

            //this is a wrapper for our small dependency on $scope
            vm.notify = vm.$jobService.getNotifier($scope);

            render();

            function render() {
                vm.$jobService.getByJobId(sabio.page.jobUid, vm.receiveItems, vm.onProfileError);
            }

            function _receiveItems(data) {
                //this receives the data and calls the special
                //notify method that will trigger ng to refresh UI
                vm.notify(function () {
                    vm.item = data.item;
                });
            }

            function _onProfileError(jqXhr, error) {
                console.error("developer profile failed to load");
                console.error(error);
            }
        }

        sabio.ng.addService(sabio.ng.app.module
           , "$jobService"
           , ["$baseService"]
           , sabio.services.jobs.factory);

        sabio.ng.addController(sabio.ng.app.module
            , "jobDetailController"
            , ['$scope', '$baseController', "$jobService"]
            , sabio.page.jobDetailControllerFactory);

        //sabio.page.handlers.getEmployerData = function (result) {
        //    var employerData = result.item;
        //    var jobForm = $(".job-template");
        //}
        //sabio.page.handlers.fillJobData = function (result) {
        //    var jobData = result.item;
        //    var jobForm = $(".job-template");
        //    $("#job-title", jobForm).text(jobData.title);
        //    $("#job-qualifications", jobForm).text(jobData.qualifications);
        //    $("#job-contacts", jobForm).text(jobData.contacts);
        //    $("#job-description", jobForm).text(jobData.description);
        //    $("#job-email", jobForm).attr("mailto:",jobData.primaryEmail)
        //    $("#job-url", jobForm).text(jobData.url);
        //    $("#job-company-name", jobForm).text(jobData.companyName);
        //    $("#edit-job", jobForm).attr("href", "/jobs/manage/" + jobData.uid);
        //    $("#delete-job", jobForm).attr("href", "/jobs/delete/" + jobData.uid);

        //};

        //sabio.page.handlers.onPopulateFailure = function (result) {
        //    sabio.layout.showModal('alert-danger', 'Error', 'Please contact your system administrator!')
        //};

        //sabio.page.handlers.displayGoogleMap = function (mapcanvas) {
        //    var mapCanvas = mapcanvas;
        //    var mapOptions = {
        //        center: new google.maps.LatLng(33.9884882, -118.3845679),
        //        zoom: 12,
        //        mapTypeId: google.maps.MapTypeId.ROADMAP
        //    };
        //    var map = new google.maps.Map(mapCanvas[0], mapOptions);
        //};

        ////below was previously commented out:
        ////sabio.page.handlers.geocodeAddress = function (address) {
        ////    geocoder = new google.maps.Geocoder();
        ////    var latlng = new google.maps.LatLng(-34.397, 150.644);
        ////    var mapOptions = {
        ////        zoom: 8,
        ////        center: latlng
        ////    }
        ////    map = new google.maps.Map($("#map-canvas"), mapOptions);
        ////}

        ////};

        //sabio.page.handlers.jobLookupById = function () {
        //    jobNewFormValidate = $('#jobs-lookup-new-form').valid();

        //    if (jobLookupNewFormValidate) {
        //        var jobSubmitForm = $("#jobs-lookup-new-form");

        //        if ($('#jobGuid').val()) {
        //            var filledJobSubmitForm = jobSubmitForm.serialize();
        //            sabio.page.apiSubmitJobUpdate(($('#jobGuid').val()), filledJobSubmitForm);
        //        } else {
        //            var filledJobSubmitForm = jobSubmitForm.serialize();
        //            sabio.page.apiSubmitJobInsert(filledJobSubmitForm);
        //        }
        //    } else {
        //        alert("New Job Input Data Is Invalid, please check your inputs.");
        //    };
        //};

        //sabio.page.apiLookupUpdate = function (jobGuid, inputData) {
        //    console.log("updating existing job");
        //    $.ajax({
        //        url: "/api/jobs/" + jobGuid,
        //        data: inputData,
        //        type: "PUT"
        //    })
        //    .done(function (data) {
        //        alert("Job Updated Successfully!");
        //    })
        //    .fail(function () { alert("Error"); })
        //    ;
        //};

        //sabio.page.apiSubmitJobInsert = function (inputData) {
        //    console.log("posting new job");
        //    $.ajax({
        //        url: "/api/jobs",
        //        data: inputData,
        //        type: "POST"
        //    })
        //    .done(function (data) {
        //        $('#jobGuid').val(data.item);
        //        alert("New Job Submitted Successfully!");
        //    })
        //    .fail(function () { alert("Error"); })
        //    ;
        //};

        //sabio.page.handlers.ajaxDone = function (data) {
        //    if (data.item) {
        //        console.log("you are logged in successfully");
        //        window.location.href = "/";
        //    } else {
        //        alert("you are not logged in.  Please Check your login info");
        //    };
        //};

        //sabio.page.handlers.ajaxFail = function (data) {
        //    alert("Error");
        //};
    </script>
}
