@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLobster.cshtml";
}

<title>Login Index page</title>
<div class="container">
    <div>
        <!-- LOGIN FORM -->
        <div class="panel panel-default" data-ng-controller="loginController as login" id="loginControllerContainer">
            <div class="panel-heading">
                <h2 class="panel-title section-heading no-margin">Welcome to Recruit.Us!</h2>
            </div>
            <div class="col-md-6 container">
                <h3>Log-In</h3>
                <form class="form-horizontal" name="myForm" novalidate id="login-form" role="form" ng-submit="myForm.$valid && login.loginSubmit()">
                    <div class="form-group">
                        <div class="col-md-7">
                            <label for="Email" class="control-label">Email*</label>
                            <div class="input-group">
                                <input type="email" 
                                       class="form-control valid" 
                                       id="Email" 
                                       name="email" 
                                       placeholder="Email Address*" 
                                       ng-model="login.item.email" 
                                       @*ng-minlength="10" 
                                       ng-maxlength="25"*@ 
                                       required>
                                <div role="alert" class="help-inline error">
                                    <span ng-show="myForm.email.$error.required && myForm.email.$dirty">Required! </span>
                                    <span ng-show="myForm.email.$error.email && myForm.email.$dirty">Must be Email! </span>
                                    @*<span ng-show="myForm.email.$error.minlength && myForm.email.$dirty">Too short! </span>
                                    <span ng-show="myForm.email.$error.maxlength && myForm.email.$dirty">Too long! </span>*@
                                </div>
                                </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7">
                            <label for="Password" class="control-label">Password*</label>
                            <div class="input-group">
                                <input type="password" 
                                       class="form-control valid" 
                                       id="Password" 
                                       name="password" 
                                       placeholder="Password*" 
                                       ng-model="login.item.password" 
                                       ng-minlength=8
                                       ng-maxlength=25 
                                       required>
                                <div role="alert" class="help-inline error">
                                    <span ng-show="myForm.password.$error.required && myForm.password.$dirty">Required Field! </span>
                                    <span ng-show="myForm.password.$error.minlength && myForm.password.$dirty">Too short! </span>
                                    <span ng-show="myForm.password.$error.maxlength && myForm.password.$dirty">Too long! </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label flclass="fancy-checkbox">
                                <input type="checkbox">
                                <span>Remember Me</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success btn-primary">Log-In!</button>
                        </div>
                    </div>
                </form><br />
                <p>
                    <div><em>Don't Yet Have an Account?</em> <a href="/registration">Create Account</a></div>
                    <div><em>Forgot Your Password?</em> <a href="/password/email">Change Password</a></div>
                    @*<div><em>Check this: Login With</em> <a href="http://plus.google.com">Google Plus</a>, <a href="https://www.facebook.com/login?_rdr">FaceBook</a>, or <a href="https://www.linkedin.com/uas/login">LinkedIn</a></div>*@
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END LOGIN FORM -->
<!-- Scripts Start-->
@section Scripts {
    
    <script type="text/javascript" src="/Scripts/Services/sabio.services.accounts.js"></script>
    <script type="text/javascript">
        sabio.page.startUp = function () {
            sabio.page.loginController = sabio.ng.getControllerInstance($("#loginControllerContainer"));
            // clickevent handlers kept here
            //$("#btn-sign-in").on("click", sabio.page.handlers.signIn);
        };

        sabio.services.accounts.factory = function ($baseService) {
            var aSabioServiceObject = sabio.services.accounts

            var newService = $.extend(true, {}, aSabioServiceObject, $baseService);

            return newService;
        }

        sabio.page.loginControllerFactory = function ($scope, $baseController, $loginService) {
            var vm = this;
            vm.item = null;
            //vm.selectedEmployee = null;
            vm.$loginService = $loginService;
            vm.onLoginSuccess = _onLoginSuccess;
            vm.loginSubmit = _loginSubmit;
            vm.onloginError = _onloginError;

            //-- this line to simulate inheritance
            $.extend(vm, $baseController);

            //this is a wrapper for our small dependency on $scope
            vm.notify = vm.$loginService.getNotifier($scope);

            function _loginSubmit() {
                vm.$loginService.login(vm.item, vm.onLoginSuccess, vm.onloginError);
            };

            function _onLoginSuccess(data) {
                if (data.item) {
                    sabio.layout.showModal("alert-success", "Welcome!", "You are logged-in successfully.");
                    window.location.href = "/dashboard/";
                } else {
                    sabio.layout.showModal("alert-danger", "Oops!", "We are experiencing technical difficulties. Please try again later.");
                };
            }

            function _onloginError(jqXhr, error) {
                sabio.layout.showModal("alert-danger", "Oops!", "You are not logged-in.  Please check that you entered the correct log-in info.");
            };

        };

        sabio.ng.addService(sabio.ng.app.module
           , "$loginService"
           , ["$baseService"]
           , sabio.services.accounts.factory);


        sabio.ng.addController(sabio.ng.app.module
            , "loginController"
            , ['$scope', '$baseController', "$loginService"]
            , sabio.page.loginControllerFactory);

    </script>
}
<!-- Scripts End-->
