@{
    ViewBag.Title = "Home Page2";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<section class="header">
    <div id="mainBackgroundPhoto2">
        <div class="logoBlock2">
            <h1 class="hero-heading">RECRUIT.US</h1>
            <p class="lead ">Search. Hire. Connect.</p>
            <br />
            <br />
            <p><a href="/login/" class="btn btn-primary btn-lg">Log-in &raquo;</a></p>
            <p>
                <em class="frontPageText2"><strong>Don't have an account yet?</strong></em>
                <a href="/registration/">
                    <strong>Sign Up</strong>
                </a>
            </p>
        </div>
    </div>
</section>
<section class="recent-works">
    <div class="container">
        <h2 class="section-heading pull-left">START CONNECTING TODAY</h2>
        <br />
        <div class="clearfix"></div>
        <div class="portfolio-static">
            <div class="row">
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <div class="overlay"></div>
                        <div class="info">
                            <h4 class="title">Connect with Developers</h4>
                            <p class="brief-description">Web Programmers Near You</p>
                            <a class="btn" href="/search/developer/">search now</a>
                        </div>
                        <div class="home2-media-thumbnail">
                            <div class="cell img-responsive" id="home2-image-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <div class="overlay"></div>
                        <div class="info">
                            <h4 class="title">Connect with Recruiters</h4>
                            <p class="brief-description">Staffing Professionals Eager to Assist You</p>
                            <a class="btn" href="/search/recruiter/">search now</a>
                        </div>
                        <div class="home2-media-thumbnail">
                            <div class="cell img-responsive" id="home2-image-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <div class="overlay"></div>
                        <div class="info">
                            <h4 class="title">Connect with Employers</h4>
                            <p class="brief-description">Industry Leaders from Around the Country</p>
                            <a class="btn" href="/search/employer/">search now</a>
                        </div>
                        <div class="home2-media-thumbnail">
                            <div class="cell img-responsive" id="home2-image-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home2SearchBar">
    <div class="col-md-12">
        <a href="/search/jobs/" class="btn btn-primary btn-block" type="button">
            <i class="fa fa-cog fa-spin"></i>
            SEARCH OUR JOB POSTINGS!!
            <i class="fa fa-cog fa-spin"></i>
        </a>
        <br />
    </div>
</section>
<section class="full-width-section no-margin">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-6">
                <div class="number-info horizontal text-white-color">
                    <i class="fa fa-user pull-left"></i>
                    <p>8 <span>EMPLOYERS</span></p>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="number-info horizontal text-white-color">
                    <i class="fa fa-building-o pull-left"></i>
                    <p>13 <span>JOB POSTINGS</span></p>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="number-info horizontal text-white-color">
                    <i class="fa fa-user pull-left"></i>
                    <p>112 <span>DEVELOPERS</span></p>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="number-info horizontal text-white-color">
                    <i class="fa fa-thumbs-up pull-left"></i>
                    <p>78 <span>RATINGS</span></p>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="number-info horizontal text-white-color">
                    <i class="fa fa-user pull-left"></i>
                    <p>14 <span>RECRUITERS</span></p>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="number-info horizontal text-white-color">
                    <i class="fa fa-calendar pull-left"></i>
                    <p>48 <span>EVENTS</span></p>
                </div>
            </div>
        </div>
    </div>
</section>