@{
    ViewBag.Title = "Home Page1";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<div id="mainBackgroundPhoto1">
    <div class="logoBlock1">
        <h1 class="frontPageText1">RECRUIT.US</h1>
        <p class="lead frontPageText1">Search. Hire. Connect.</p>
        <p><a href="/login/" class="btn btn-primary btn-sm">Log-in &raquo;</a></p>
        <p>
            <em class="frontPageText1"><strong>Don't have an account yet?</strong></em>
            <a href="/registration/">
                <strong>Sign Up</strong>
            </a>
        </p>
    </div>
    <section class="hero-unit-animated">
        <div id="carousel-hero-animated" class="carousel slide" data-interval="5000" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="hero-left pull-left">
                            <div class="frontPageText1a">
                                <h2 class="frontPageText1a animated fadeIn animation-delay-5">FIND A DEVELOPER</h2>
                                <br />
                                <p class="lead animated fadeIn animation-delay-7">Find the <span><em>right</em></span> developer for your <span><em>unique</em></span> situation.</p>
                            </div>
                            <a class="btn btn-info btn-sm hero-button animated fadeIn animation-delay-10" href="/search/developer/">SEARCH NOW</a>
                        </div>
                        <div class="hero-right pull-right">
                            <img class="animated fadeInRight animation-delay-9 home1Resize desaturate" alt="Developer holding a laptop" src="http://codeless.co/specular/business4/wp-content/uploads/2014/12/man.png">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="hero-left pull-left">
                            <div class="frontPageText1a">
                                <h2 class="frontPageText1a animated fadeIn animation-delay-5">FIND A RECRUITER</h2>
                                <br />
                                <p class="lead animated fadeIn animation-delay-7">Leave it to a professional to source your <span><em>perfect</em></span> fit.</p>
                            </div>
                            <a class="btn btn-info btn-sm hero-button animated fadeIn animation-delay-10" href="/search/recruiter/">SEARCH NOW</a>
                        </div>
                        <div class="hero-right pull-right">
                            <img class="animated fadeInRight animation-delay-9 home1Resize desaturate" alt="Professionals with headsets" src="http://www.discountsyntheticturf.co.uk/wp-content/uploads/2013/08/Headset-People_Banner_02.png">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="hero-left pull-left">
                            <div class="frontPageText1a">
                                <h2 class="frontPageText1a animated fadeIn animation-delay-5">FIND AN EMPLOYER</h2>
                                <br />
                                <p class="lead animated fadeIn animation-delay-7">Top industry employers are waiting to hear from you!</p>
                            </div>
                            <a class="btn btn-info btn-sm hero-button animated fadeIn animation-delay-10" href="/search/employer/">SEARCH NOW</a>
                        </div>
                        <div class="hero-right pull-right">
                            <img class="animated fadeInRight animation-delay-9 home1Resize desaturate" alt="Group of older professionals" src="http://www.airvenduk.com/images/people_positional.gif">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="hero-left pull-left">
                            <div class="frontPageText1a">
                                <h2 class="frontPageText1a animated fadeIn animation-delay-5">FIND A JOB</h2>
                                <br />
                                <p class="lead animated fadeIn animation-delay-7">Access Our Job Postings</p>
                            </div>
                            <a class="btn btn-info btn-sm hero-button animated fadeIn animation-delay-10" href="/search/jobs/">SEARCH NOW</a>
                        </div>
                        <div class="hero-right pull-right">
                            <img class="animated fadeInRight animation-delay-9 home1Resize desaturate" alt="Excited woman with arms raised high" src="http://www.woodpellets.com/images/common/Pellets101_SuperHappyWoman.png">
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" data-slide="prev" role="button" href="#carousel-hero-animated">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" data-slide="next" role="button" href="#carousel-hero-animated">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carousel-hero-animated"></li>
                <li class="" data-slide-to="1" data-target="#carousel-hero-animated"></li>
                <li class="" data-slide-to="2" data-target="#carousel-hero-animated"></li>
                <li class="" data-slide-to="3" data-target="#carousel-hero-animated"></li>
            </ol>
        </div>
    </section>
</div>
<div class="container">
    <h2 class="section-heading">MEET SOME OF OUR MEMBERS</h2>
    <ul class="list-inline list-client-logo">
        <li>
            <a href="/profile/employer/7ab0f09f-5e5a-420d-a9ec-eeab701b9565"><img class="smallResize desaturate" alt="Member Photo" src="http://sabio-training.s3.amazonaws.com/C07/media/employer/images/Small-mario.png"></a>
        </li>
        <li>
            <a href="/profile/recruiter/84b1b70b-de30-4032-bc96-f45cd9b01a75"><img class="smallResize desaturate" alt="Member Photo" src="http://sabio-training.s3.amazonaws.com/C07/media/recruiter/images/1430495075_Batman.jpg"></a>
        </li>
        <li>
            <a href="/profile/developer/8a0eeac0-bbe9-42ed-b66e-ed72f9a916c6"><img class="smallResize desaturate" alt="Member Photo" src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Actions-im-user-icon.png"></a>
        </li>
        <li>
            <a href="/profile/recruiter/4f4fb96a-6374-4d8d-a50f-d86847d47e05"><img class="smallResize desaturate" alt="Member Photo" src="http://sabio-training.s3.amazonaws.com/C07/media/recruiter/images/1431842081_download.jpg"></a>
        </li>
    </ul>
    <br />
</div>
