@{
    Layout = "~/Views/Shared/_layoutSantaCruz.cshtml";
}




<!-- START===MAIN PROFILE == START -->

<div id="profileMainContainer" class="container">

    <!--****USER INFO SECTION***************************************-->
    <!-- BEGIN TEMPLATE===USER INFO & PHOTO ---->
    <div class="row">
        <div class="main col-md-12">


            <!-- PROFILE TITLE -->
            <div id="profileTitle">
                <h2 class="developer">DEVELOPER</h2>
                <h1 class="page-title firstName lastName text-capitalize">First Name Last Name - </h1>
                <div class="separator-2"></div>
                <div class="space"></div>
            </div>
            <!-- page-title end -->

            <div class="row">

                <!--PROFILE PICTURE-->

                @*<div id="profilePicture">
                    <div class="col-lg-4 col-sm-4">
                        <div class="box-style-1 gray-bg team-member">*@
                @*<div class="overlay-container">
                        <img src="http://www.swiss-miss.com/wp-content/uploads/2012/02/playground_web_design_grande-480x480.jpg" alt="">
                        <div class="overlay">
                            <ul class="social-links colored clearfix">
                                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>*@
                @*<h3>Project Manager</h3>
                                </div>
                        </div>
                    </div>*@



                <!--PROFILE DESCRIPTION-->
                <div id="profileDescription">

                    <div class="col-lg-5 col-sm-8">
                        <p>Quo soluta provident, quod reiciendis. Dolores nam totam aut illum ex ratione harum molestias maxime minima tempore, possimus, laudantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam esse laudantium maiores aperiam illo fugit laboriosam velit repellendus quod cumque ea vero vitae quo enim fugiat itaque harum assumenda aut quis, dolore. Sit reiciendis eligendi, recusandae eaque est optio reprehenderit! Laudantium itaque ab adipisci tempora quo eum fuga beatae, impedit, ad culpa fugiat.</p>
                        <ul class="list-icons">
                            <li><i class="icon-check"></i> Etiam sed dolor ac diam volutpat</li>
                            <li><i class="icon-check"></i> Sed eget pulvinar quam, vel feugiat aliquam </li>
                            <li><i class="icon-check"></i> Erat volutpat. Phasellus eu porta suspendisse</li>
                            <li><i class="icon-check"></i> Phasellus eu porta ipsum. Suspendisse aliquet</li>
                        </ul>
                    </div>
                </div>

                <!--PROFILE PERSONAL INFO IN RIGHT COLUMN-->
                <div id="profilePersonalInfo">

                    <div class="col-lg-3 col-md-12 col-sm-8 col-sm-offset-4 col-md-offset-0">
                        <div class="vertical-divider-left-lg side">
                            <h2 class="title">Contact Me</h2>
                            <ul class="list-icons">
                                <li><i class="fa fa-phone pr-5"></i>+12 123 123 1234</li>
                                <li><i class="fa fa-mobile pr-5"></i>+12 123 123 1234</li>
                                <li><i class="fa fa-envelope pr-5"></i><a href="mailto:johndoe@gmail.com">johndoe@gmail.com</a></li>
                            </ul>
                            <ul class="social-links colored clearfix">
                                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--END TEMPLATE--- USER INFO & PHOTO -->
    <!--**USER INFO END-->


    <div class="space"></div>

    <!--****NAV TABS - SECTION******************************-->

    <div class="main col-md-9">
        <h2>Horizontal Tabs - Version 2</h2>
        <div class="tabs-style-2">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#h2tab1" role="tab" data-toggle="tab"><i class="fa fa-home pr-5"></i>SKILLS</a></li>
                <li><a href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-user pr-5"></i>EXPERIENCE</a></li>
                <li><a href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-envelope pr-5"></i>PROJECTS</a></li>
            </ul>

            <!-- TABS TEMPLATE  JOB SEEKER SKILLS, EXPERIENCE, & PROJECTS  START-->
            <div class="tab-content">

                <!--BEGIN TEMPLATE====SKILLS TEMPLATE======BEGIN---->
                <div class="tab-pane fade in active" id="h2tab1">
                    <h1 class="text-center title">SKILLS</h1>
                    <div class="space-bottom"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-icons">
                                <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                                <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                                <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                                <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                                <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                            <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                        </div>
                    </div>
                    <a href="page-services.html" class="btn btn-default">Read more</a>
                </div>

                <!-- BEGIN TEMPLATE=====EXPERIENCE TEMPLATE======BEGIN---->
                <div class="tab-pane fade Template hidden" id="h2tab2 experienceTemplate">
                    <h1 class="text-center title">EXPERIENCE</h1>
                    <div class="space-bottom"></div>
                    <div class="row">
                        @*<div class="col-md-6">
                                <ul class="list-icons">
                                    <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                                    <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                                    <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                                    <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                                    <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                                <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                            </div>*@

                        @*<div id="experienceTemplate" class="Template hidden">*@

                        <form role="form">

                            <div class="container">
                                <div class="col-xs-offset-0 col-md-9">
                                    <div class="panel-body" style="padding-left: 0; padding-top: 0; margin-left: 60px;">

                                        @*<fieldset id="personalInfo">
                                            <legend>Personal Info</legend>*@

                                        <div class="form-group col-xs-8">
                                            <div class="row">
                                                @* TITLE ON ONE LINE *@
                                                <h5 class="title text-capitalize">Title</h5>
                                            </div>

                                            <div class="row">
                                                @* COMPANY NAME & DATES ON ONE LINE *@

                                                <span class="companyName text-capitalize">Company Name</span>
                                                <span>  </span>
                                            </div>

                                            <div class="row">
                                                @* EMPLOYMENT DATES ON ONE LINE *@

                                                <span class="startDateMonth">Start Date Month</span>
                                                <span> , </span>
                                                <span class="startDateYear">Start Date Year</span>
                                                <span>  to  </span>
                                                <span class="endDateMonth">End Date Month</span>
                                                <span> , </span>
                                                <span class="endDateYear">End Date Year</span>
                                            </div>

                                            <div class="row">
                                                @* COMPANY CITY & STATE ON ONE LINE *@

                                                <span class="companyCity text-capitalize">Company City</span>
                                                <span>,  </span>
                                                <span class="companyState">CompanyState</span>
                                            </div>

                                        </div>


                                        <div class="form-group col-xs-8">
                                            <div class="row">
                                                @* DESCRIPTION *@
                                                <span class="description">Description</span>
                                            </div>
                                        </div>

                                        @*<div class="col-xs-pull-4">
                                            @* EDIT PENCIL ICON *@
                                        @*<span class="glyphicon glyphicon-pencil" aria-hidden="true"><a href="/experience/create" class="uid">edit</a></span>
                                            </div>*@*

                                        @*</fieldset>*@

                                    </div>
                                </div>
                            </div>


                        </form>

                    </div>

                </div>
                <a href="page-services.html" class="btn btn-default">Read more</a>
            </div>

            <!-- BEGIN TEMPLATE=====PROJECTS TEMPLATE======BEGIN---->
            <div class="tab-pane fade" id="h2tab3">
                <h1 class="text-center title">PROJECTS</h1>
                <div class="space-bottom"></div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-icons">
                            <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                            <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                            <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                            <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                            <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                        <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                    </div>
                </div>
                <a href="page-services.html" class="btn btn-default">Read more</a>
            </div>


        </div>

        <!--TEMPLATE END -->

    </div>
    <div class="space-bottom"></div>
    <div class="space-bottom"></div>

</div>
<!--**NAV TABS END-->
<!-- END===MAIN PROFILE == END -->



<div class="main-container">

    <div class="profile-container">
        <h2>Profile</h2>

        @*Basic Personal Info*@
        <div class="signup-container">
            <h3>Spicer's Info</h3>
            <h2>Basic Personal Info</h2>

            <div class="label" id="fullNameLabel">
                Name
                <span id="firstName"></span>
                <span id="lastName"></span>
            </div>

            <div class="label" id="emailAddressLabel">
                Email Address
                <span id="emailAddress"></span>
            </div>

            <div class="label" id="passwordLabel">
                Password
                <span id="password"></span>
            </div>

            <div class="label" id="userTypeLabel">
                User Type
                <span id="userType"></span>
            </div>

        </div>

        <div>Insert Break Line Here</div>

        @*Address Info*@


        <div class="address-form-container">
            <h3>Claudia's Info</h3>
            <h2>Address Info</h2>

            <div class="label" id="addressLabel">
                Address
                <span id="address1"></span>
                <span id="address2"></span>
            </div>
            <div class="label" id="cityLabel">
                City
                <span id="city"></span>
            </div>
            <div class="label" id="stateLabel">
                State
                <span id="state"></span>
            </div>
        </div>

        <div>Insert Break Line Here</div>


        @*Experience Info*@

        <div class="experience-form-container">
            <h3>Myrna's Info</h3>
            <h2>Experience Info</h2>

        </div>

        <div>Insert Break Line Here</div>

        @*Projects Info*@

        <div class="projects-form-container">
            <h3>Pablo's Info</h3>
            <h2>Projects Info</h2>


        </div>

        //profile container
    </div>
    //main container
</div>


@section scripts{

    <script type="text/javascript" src="~/Scripts/sabio.services.profile.js"></script>

    <script type="text/javascript">


        //FUNCTIONS

        //STARTUP FUNCTIONS
        sabio.page.startUp = function () {
            //sabio.services.profile.loadExperiencesView(currentUserId, sabio.page.onGetExperiencesViewSuccess, sabio.page.onGetExperiencesViewError);

            //BINDERS
            //$("document").on("load", sabio.page.onLoadViews);


        }


        //FUNCTIONS--GET

        //--AccountSignUp--GET Function
        sabio.page.getAccountSignUpInfo = function () {
            //get the load signUpInfo



            //give it a target container

            //bind it to the empty container

        }

        //--UserAddress--GET Function
        sabio.page.getUserAddressInfo = function () {


        }

        //--Experience--GET - Success Function -
        sabio.page.onGetExperiencesViewSuccess = function (data, status, xhr) {
            console.log(data);

            for (var i = 0; i < data.items.length; i++) {

                // VARIABLE currentExperience - so we can find data quicker
                var currentExperience = data.items[i];
                console.log(currentExperience);

                // VARIABLE newClone - uses clone format to list not hidden
                var newClone = sabio.page.getNewExperienceDataClone();
                newClone.removeClass("hidden");

                // VARIABLE url - appends new experience to bottom of list
                var url = "/experience/edit/" + currentExperience.uid;

                //make sure you append to the correct container
                newClone.appendTo("#experienceContainer");


                var startMonth = sabio.page.getMonthsByValue(currentExperience.startDateMonth);
                console.log(startMonth);

                var endMonth = sabio.page.getMonthsByValue(currentExperience.endDateMonth);
                console.log(endMonth);

                //.html Grabs data using .html*****
                $(".title", newClone).html(currentExperience.title);
                $(".companyName", newClone).html(currentExperience.companyName);
                $(".companyCity", newClone).html(currentExperience.companyCity);
                $(".companyState", newClone).html(currentExperience.state.stateProvinceCode);
                $(".startDateMonth", newClone).html(startMonth);
                $(".startDateYear", newClone).html(currentExperience.startDateYear);
                $(".endDateMonth", newClone).html(endMonth);
                $(".endDateYear", newClone).html(currentExperience.endDateYear);
                $(".description", newClone).html(currentExperience.description);
                $(".uid", newClone).attr("href", url);


            }
        }


        //--Experience--GET - Error Function -
        sabio.page.onGetExperiencesViewError = function (jqXHR, textStatus, errorThrown) {


        }

        //--Projects--GET Function
        sabio.page.getProjectsInfo = function () {


        }

        //--DeveloperSkills--GET Function
        sabio.page.getDeveloperInfo = function () {


        }



        //HANDLERS - Get


        //must take a look at the 3 arguments that ajax returns
        //sabio.page.handlers.onProfilesJobSeekerLoadSuccess = function (x, y, z) {
        //if the ajax get call is successful, start loading the signupInfo

        //can choose which arguments you want to pass in
        //sabio.page.loadSignUpInfo(x, y, z);

        //}



        //a good way to do this could be to have hidden templates for each of the different types
        //of datas (experience, projects, etc) then in the success handler for each corresponding ajax
        //    call you could clone the template, inject data and append to your page just like you've
        //    done with other pages.


    </script>
}