
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="/dashboard">HOME</a>
    </li>
    <li>
        <a href="/home/contact">ABOUT US</a>
    </li>
    <li>
        <a href="/ContactUs">HELP</a>
    </li>
</ul>