<ul class="nav navbar-nav navbar-right">
    <li class="dropdown ">
        <a href="/">HOME</a>
    </li>
    <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">SEARCH <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="/search/jobs">Search Jobs</a>
            </li>
            <li>
                <a href="/search/employer">Search Employers</a>
            </li>
            <li>
                <a href="/search/recruiter">Search Recruiters</a>
            </li>
        </ul>
    </li>
    @*<li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">JOBS <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="/jobs/index">Search Jobs</a>
            </li>
            <li>
                <a href="">Saved Jobs &amp; Applications</a>
            </li>
            <li>
                <a href="/Resume">Saved Resumes</a>
            </li>
            <li>
                <a href="">Alerts</a>
            </li>
        </ul>
    </li>*@
    <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">DEVELOPER <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="/profile/developer/@Model.CurrentUser.Id">View Public Profile</a>
            </li>
            <li>
                <a href="/developer">Create/Edit Profile</a>
            </li>
            <li>
                <a href="/resume">Create/Edit Resume</a>
            </li>
            <li>
                <a href="/resume/preview">View/Print Resume</a>
            </li>
        </ul>
    </li>
    <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">MESSAGE CENTER <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="/messaging">Inbox</a>
            </li>
            <li>
                <a href="/messaging#/compose">Compose Message</a>
            </li>
        </ul>
    </li>
    <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">GALLERY<i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="/gallery/">Upload Image</a>
            </li>
            <li>
                <a href="/gallery/manage">Gallery</a>
            </li>
        </ul>
    </li>
    <li class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ACCOUNT <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="/manageaccount">Update Account</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/ContactUs">HELP</a>
    </li>
</ul>