
@{
    ViewBag.Title = "Delta";
}

<h2>Delta</h2>

<div class="row">
    <p>This is being rendered from a Delta View. Make note of the Route (Omega) and the ActionResult method name (RandomName)</p>
    <p>The method is invoking the View method that accepts a View Name.</p>
</div>