@{
    ViewBag.Title = "Gamma";
}

<h2>Gamma</h2>

<div class="row">
    <p>
        This page acceppts no params for a GET.

    </p>

    <p>
        Make note that the Route name is different than the Action method.
        The name of the Action method dictates what view will be rendered when 
        a view name is not specified
    </p>

</div>