@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutSantaCruz.cshtml";
}


<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-8">

                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title">Did you forget your password?</h1>
                <!-- page-title end -->
                <p>It's ok, we are all forgetful at times... Please enter your email</p>

                <div class="email-form">
                    <form id="emailForm" role="form">
                        <div class="form-group has-feedback">
                            <label for="email"></label>
                            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="example@domain.com">
                            <i class="fa fa-envelope form-control-feedback"></i>
                        </div>
                        <input type="submit" value="Submit" id="cmdSubmit" class="btn btn-default">
                    </form>
                </div>
            </div>
            <!-- main end ->-
            <!-- sidebar start -->
            <aside class="col-md-4">
                <div class="sidebar">
                    <div class="side vertical-divider-left">
                        <h3 class="title">Or, we can reset the password for you.</h3>
                        <ul class="list">
                            <li><i class="fa fa-phone pr-10"></i><abbr title="Phone">P:</abbr> (888) SantaCruz</li>
                            <li><i class="fa fa-envelope pr-10"></i><a href="mailto:info@idea.com">info@santacruz.dev</a></li>
                        </ul>

                    </div>
                </div>
            </aside>
            <!-- sidebar end -->

        </div>
    </div>




    <!-- MODAL HERE -->
    <div class="modal fade" id="modalContainer" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" id="modalTitleContent">
                    </h4>
                </div>
                <div class="modal-body" id="modalBodyContent">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- main-container end -->

</section>

@section scripts{


    <script type="text/javascript">
        sabio.page.startUp = function () {
            sabio.page.setUpValidationRules();
            $("#cmdSubmit").on("click", sabio.page.handlers.onCmdSubmit);
        }

        sabio.page.setUpValidationRules = function () {
            var validationOption = {
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    email: {
                        required: "Please type in your email.",
                        email: "Your email address must be in the format of name@domain.com"
                    }
                }
            };
            $("#emailForm").validate(validationOption);
        }


        sabio.page.sendEmailForToken = function () {
            var url = "/api/accounts/sendforgotpasswordtoken";
            var myData = $("#emailForm").serialize();
            var settings = {
                cache: false
                , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
                , data: myData
                , dataType: "json"
                , success: sabio.page.handlers.onPostSuccess
                , error: sabio.page.handlers.onPostError
                , type: "POST"
            };
            $.ajax(url, settings);

        };

        sabio.page.handlers.onCmdSubmit = function (event) {
            event.preventDefault();
            var isFormValid = $("#emailForm").valid();

            if (isFormValid == true) {
                sabio.page.sendEmailForToken();
            }
        };


        sabio.page.handlers.showModal = function (title, body){
            $("#modalTitleContent").text(title);
            $("#modalBodyContent").text(body);
            $("#modalContainer").modal("show");
        }


        sabio.page.handlers.onPostSuccess = function (data, status, xhr) {
            var title = "Check your email";
            var body = "An email has been sent with a link for you to reset your password.";
            sabio.page.handlers.showModal(title, body);
        };



        sabio.page.handlers.onPostError = function (error) {
            var title = "Uh-oh!";
            var body = (error.responseJSON.message + ". Please check your email again.");
            sabio.page.handlers.showModal(title,body);
        };


    </script>
}