@{
    Layout = "~/Views/Shared/_layoutSantaCruz.cshtml";
    ViewBag.Title = "index";
 


} 
<section class="main-container">
    <h1 class="page-title">Elvis Presley</h1>
    <div class="separator-2"></div>
    <div class="space"></div>
    <!-- page-title end -->

    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <div class="box-style-1 gray-bg team-member">
                <div class="overlay-container">
                    <img src="http://www.mightymike.tv/images/mmminielvismain.jpg" alt="">

                </div>
                <h2>Recruiter</h2>

            </div>
        </div>
        <div class="col-lg-5 col-sm-8">
            <h2>Industry experience</h2>
            <div class="separator-2"></div>
            <div class="space"></div>
            <p class="indText">Pablo</p>
           

        </div>
        <div class="col-lg-3 col-md-12 col-sm-8 col-sm-offset-4 col-md-offset-0">
            <div class="vertical-divider-left-lgside">
                <h2 class="title">Contact Me</h2>
                <ul class="list-icons">
                    <li id="phone"><i class="fa fa-phone pr-5"></i>+12 123 123 1234</li>
                    <li><i class="fa fa-mobile pr-5"></i>+12 123 123 1234</li>
                    <li id="website"><a  href="mailto:johndoe@gmail.com">johndoe@gmail.com</a></li>
                </ul>

            </div>
        </div>
    </div>


    <!-- tabs start -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#htab1" role="tab" data-toggle="tab"><i class="fa fa-home pr-5"></i>Very Flexible</a></li>
        <li><a href="#htab2" role="tab" data-toggle="tab"><i class="fa fa-user pr-5"></i>Top Notch 24/7 Support</a></li>
        <li><a href="#htab3" role="tab" data-toggle="tab"><i class="fa fa-envelope pr-5"></i>Well Documented</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="htab1">
            <h1 class="text-center">Industry Experiance</h1>
            <div class="space-bottom"></div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-icons">
                        <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                        <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                        <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                        <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                    <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                </div>
            </div>
            <a href="page-services.html" class="btn btn-default">Read more</a>
        </div>
        <div class="tab-pane fade" id="htab2">
            <h1 class="text-center">placement per year</h1>
            <div class="space-bottom"></div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-icons">
                        <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                        <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                        <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                        <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                    <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                </div>
            </div>
            <a href="page-services.html" class="btn btn-default">Read more</a>
        </div>
        <div class="tab-pane fade" id="htab3">
            <h1 class="text-center">Types of roles</h1>
            <div class="space-bottom"></div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-icons">
                        <li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
                        <li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
                        <li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
                        <li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
                        <li><i class="icon-check pr-10"></i> Expedita placeat omnis pariatur</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                    <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                </div>
            </div>
            <a href="page-services.html" class="btn btn-default">Read more</a>
        </div>
    </div>
    <!-- tabs end -->
   




</section>

@section scripts{
    <script src="~/Scripts/sabio.services.recuiters.js"></script>
    
    <script type="text/javascript">

        sabio.page.startUp = function () {

            sabio.services.recruiters.get(sabio.page.handlers.AjaxRecruiterSuccess, sabio.page.handlers.AjaxRecruiterError);
        };

         
        


        


        sabio.page.handlers.AjaxRecruiterSuccess = function (data, status, xhr) {
            console.log(data);
            //console.log(status);
            //console.log(xhr);
            console.log("very cool ajax");
            //if (data.item.uid != null && data.item.uid != '') {
            //    $("#RecuiterUID").val(data.item.uid);
            //    sabio.page.isInEditMode = true;
                sabio.page.populateInputs(data);
                // sabio.services.recruiters.add();
            //}

            // alert("success");
            //$("#2SuccessModalContainer").modal('show');

        };

        sabio.page.handlers.AjaxRecruiterError = function (jqXHR, textStatus, errorThrown) {
            console.log("not worky ajax");
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
            console.log("Failed");
           // $("#2ErrorModalContainer").modal('Success');
        };


        sabio.page.populateInputs = function (data) {
            $("p.indText").html(data.item.industry);
            $("#placements").val(data.item.placements);
            $("#roles").val(data.item.roles);
            $("#Locations").val(data.item.locations);
            $("#website").html(data.item.website);
            $("#CompanyName").val(data.item.companyName);
            $("#phone").html(data.item.phoneNumbers);
            $("#Email").val(data.item.email);

        };

      
    </script>

}

