
@{
    ViewBag.Title = "RecruiterBackgroundView";
}

@{
    Layout = "~/Views/Shared/_layoutSantaCruz.cshtml";
}
<!-- main start -->
<!-- ================ -->
<div class="main col-md-12">

    <!-- page-title start -->
    <!-- ================ -->
    <h1 class="page-title">My Recruiting Experience</h1>
    <!-- page-title end -->
    <div class="row">
        <div class="col-md-6">
            <p>Please tell us about your recruiting experience.</p>
            <div class="alert alert-success hidden" id="contactSuccess">
                <strong>Success!</strong> Thank you for providing us with your recuriting experience.
            </div>
            <div class="alert alert-error hidden" id="contactError">
                <strong>Error!</strong> There was an error updating your recruiting experience.
            </div>
            <div class="recruiterEperience-form">
                <form id="recruiterEperience-form" role="form">
                    <div class="form-group has-feedback">
                        <label for="industryExperience">Industry Experience</label>
                        <input type="text" class="form-control" id="address1" name="address1" placeholder="">
                        <i class="fa fa-envelope form-control-feedback"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="address2">Address Line 2</label>
                        <input type="text" class="form-control" id="address2" name="address2" placeholder="">
                        <i class="fa fa-navicon form-control-feedback"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="">
                        <i class="fa fa-navicon form-control-feedback"></i>
                    </div>
                    <div class="space-bottom"></div>
                    <h2>State</h2>
                    <select class="form-control" id="state" name="state">
                        <option></option>
                        <option>1</option>
                        <option>AK</option>
                        <option>AZ</option>
                        <option>AR</option>
                        <option>CA</option>
                        <option>CO</option>
                        <option>CT</option>
                        <option>DE</option>
                        <option>DC</option>
                        <option>FL</option>
                        <option>GA</option>
                        <option>HI</option>
                        <option>ID</option>
                        <option>IL</option>
                        <option>IN</option>
                        <option>IA</option>
                        <option>KS</option>
                        <option>KY</option>
                        <option>LA</option>
                        <option>ME</option>
                        <option>MD</option>
                        <option>MA</option>
                        <option>MI</option>
                        <option>MN</option>
                        <option>MS</option>
                        <option>MO</option>
                        <option>MT</option>
                        <option>NE</option>
                        <option>NV</option>
                        <option>NH</option>
                        <option>NJ</option>
                        <option>NM</option>
                        <option>NY</option>
                        <option>NC</option>
                        <option>ND</option>
                        <option>OH</option>
                        <option>OK</option>
                        <option>OR</option>
                        <option>PA</option>
                        <option>RI</option>
                        <option>SC</option>
                        <option>SD</option>
                        <option>TN</option>
                        <option>TX</option>
                        <option>UT</option>
                        <option>VT</option>
                        <option>VA</option>
                        <option>WA</option>
                        <option>WV</option>
                        <option>WI</option>
                        <option>WY</option>
                    </select>
                    <div class="form-group has-feedback">
                        <label for="zip">Zip Code</label>
                        <input type="text" class="form-control" id="zip" name="zip" placeholder="">
                        <i class="fa fa-navicon form-control-feedback"></i>
                    </div>
                    <input type="button" value="Submit" class="cmdUserAddressBtn" id="cmdUserAddressBtn">
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">
        sabio.page.startUp = function ()
        {
            
           //listener goes here
        }


        //Event Handlers




    </script>
}
