@{
    ViewBag.Title = "ResetPasswordEmail";
    Layout = "~/Views/Shared/_LayoutLobster.cshtml";
}

<h2>Reset Password</h2>
<form id="reset-password-form" class="form-horizontal col-lg-6">
    <div class='form-group'>
        <label for="email">Email Address</label>
        <input class="form-control" type="text" id="email" name="email" placeholder="example@email.com" />
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Submit" />
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        sabio.page.passwordForm = $('#reset-password-form');
        sabio.page.startUp = function () {
            sabio.page.setUpValidation();
            sabio.page.passwordForm.on('submit', sabio.page.handlers.checkEmail);
        }

        sabio.page.handlers.checkEmail = function (e) {
            e.preventDefault();
            if (sabio.page.passwordForm.valid()) {
                sabio.services.password.get(sabio.page.passwordForm.serialize(), sabio.page.handlers.userFound, sabio.page.handlers.noEmail);
            }
        }

        sabio.page.handlers.userFound = function (result) {
            sabio.layout.showModal('alert-info', 'Email Address Found', 'Please check your email and follow the instructions to reset your password!')
        }

        sabio.page.handlers.noEmail = function (result) {
            sabio.layout.showModal('alert-danger', 'Error', 'The email address you entered does not exist!')
        }

        sabio.page.setUpValidation = function () {
            sabio.page.passwordForm.validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    messages: {
                        email: {
                            required: "This field is required",
                            email: "Please enter a valid email address."
                        }
                    }
                }
            });
        }
    </script>
}


